@charset "utf-8";
@import "./font/font.css"; /* font-family: 'NanumSquare', sans-serif; } */

*{margin:0; padding: 0;}
:root{
    --main-color:#333;
    --color-white:#fff;
    --footer-color:rgba(255,255,255,0.5);
}
/* a 태그 초기화 */
a{color:var(--main-color)}
a:hover,a:active,a:visited,a:link{color:var(--main-color); text-decoration: none;}


/* li,ol 초기화 */
ol,li{list-style: none;}

body{
    font-family: 'NanumSquare', sans-serif;
    color:var(--main-color);
}

/* 이미지 크기조절 */
.MaxIMG{width:100%;}




/* menu */
#menu{
    height: 90px;
    background-color: rgba(255,255,255,0.9);
    position: absolute;
    width:100%;
    z-index: 1;
}
.gnb{
    line-height: 90px;
}
.gnb>li{
    padding: 0px 24px;
}
.gnb>li>a{
    font-size: 20px;
    font-weight: 900;
}


/* visualIMG */
.visualIMG{
    position: relative;
}
.visual-box{
    width:50%;
    position: absolute;
    top:35%;
}
.visual-box>h1{
    font-size: 68px;
    color: var(--color-white);
}
.visual-box>h1>span{font-weight: 900;}



/* sec01 */

.sec_01{margin-top: 140px;}

.sec_text>h2{font-size: 60px; line-height: 1; margin: 0;}
.sec_text>span{font-size: 60px; font-weight: 900; line-height: 1;}
.sec_text>p{font-size: 20px; margin-top: 30px; margin-bottom: 42px;}
.sec_text>a{
    display: block;
    color:#999;
    width:95px; height: 36px;
    line-height: 36px;
    text-align: center;
    border: 1px solid #999;
    border-radius: 22px;
}

.sec-con-02{margin-top: 42px;}




/* sec02 */
.sec_02{margin-top: 240px;}


/* sec03 */
.sec_03{margin-top: 140px;}
.sec03_text>h1{font-size: 46px; font-weight: 900;}
.sec03_text>p{font-size: 24px; font-weight: 900; margin-top: 24px;}


/* footer */
footer{
    width:100%;
    background-color: #2A2A2A;
    margin-top: 140px;
}
.ft_menu{overflow: hidden;}
.ft_menu::after{
    content: '';
    display: block;
    width:100%;
    height: 1px;
    background-color: rgba(255,255,255,0.5);
    margin-top: 71px;
}
.ft_menu>ul>li{
    font-size: 15px;
    font-weight: 900;
    color:rgba(255,255,255,0.5);
    margin:35px 0px
}
.ft_menu>ul>li:nth-child(1){padding-right: 20px;}
.ft_menu>ul>li:nth-child(2){
    padding-left: 20px;
    border-left: 1px solid rgba(255,255,255,0.5);
}


.ft_addr>em{
    font-size: 17px;
    color:var(--color-white);
    font-style: normal;
}
.ft_addr>address{
    font-size: 15px;
    color:rgba(255,255,255,0.5);
}
.ft_addr>address>span{font-weight: 900;}
.ft_addr>p{
    color:rgba(255,255,255,0.5);
    font-size: 15px;
}