@charset "utf-8";
@import "../font/font.css"; /* font-family: 'NanumSquare', sans-serif; } */
@import "../nav.css"; /* 네비게이션 */ 
@import "../footer.css"; /* 푸터 */

/* visual */
.visual{position: relative;}
.visual-box{
    position: absolute;
    top:50%;
    /* transform: translateY(-50%); */
    width:auto;

}
.visual-box>h1{
    color:var(--color-white);
    font-size: 50px;
    font-weight: 900;
}
.visual-box>em{
    font-size: 20px;
    color:var(--color-white);
    font-style: normal;
}


/* sub-nav */
.sub-nav{
    position: absolute;
    bottom:-9px;
    width:100%;
    left: 0;
    text-align: center;
}
.sub-nav>ul{
    display: flex;
    line-height: 64px;

}
.sub-nav>ul>li{
    width:100%;
}
.sub-nav>ul>li:nth-child(2){background-color: #6EB283;}
.sub-nav>ul>li:nth-child(1){background-color: rgba(0, 0, 0, 0.5);}
.sub-nav>ul>li:nth-child(3){background-color: rgba(0, 0, 0, 0.5);}
.sub-nav>ul>li>a{
    display: block;
    color:var(--color-white);
    font-size: 20px;
    font-weight: bold;
}


/* sec title */

.main-title{
    text-align: center;
    margin-top: 140px;
    margin-bottom: 100px;
}
.main-title>h1{
    font-size: 46px;
    font-weight: 900;
}

.gallery_box>h2{
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    position: relative;
    
}
.gallery_box>h2::after{
    content: '';
    display: block;
    width:50px;
    height: 4px;
    background-color: #24A04C;
    position: absolute;
    left: 50%;
    bottom:-14px;
    transform: translateX(-50%);
}

.gallery_box>p{
    margin-top: 42px;    
    font-size: 18px;
}

.gallery_box>em{
    display: block;
    font-size: 18px;
    font-style: normal;
    margin-top: 24px;
    margin-bottom:60px;
}

.mb-60{margin-bottom: 60px;}